@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.ecosystem {
  padding: 60px 20px;
  background: linear-gradient(60deg, #ffffff 60%, #18419442 80%);
  text-align: center;
}

.ecosystem-header {
  margin-left: 250px;
}

.ecosystem-header h3 {
  color: #152940;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  background: linear-gradient(to right, #2b6ff77f 20%, #ffffff00 50%);
  width: 10%;
  padding: 18px 30px;
}

.ecosystem-header h2 {
  font-size: 50px;
  font-weight: 500;
  color: #000;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.flowchart {
  display: flex;
  align-items: center;
 justify-content: center;
  position: relative;
  flex-direction: column;
}

.row1{
  display: flex;
  gap: 310px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}


.row1 .light{
display: flex;  
align-items: flex-start;
flex-direction: column;
justify-content: center;
}


.light .logo{
  height: 70px;
  margin-left: 35px;
  border-radius: 30px;
  padding: 20px;
box-shadow: 0 0 12px;
background: linear-gradient(180deg, #ffffff 60%, #cdd6ff49 90%);
}




.row2{

  display: flex;
  gap: 310px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.row2 .light{
  margin-top: 80px;
}